<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wit.crimealarm">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".main.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CrimeAlarm">
        <activity
            android:name=".activities.UserProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PlacemarkMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_placemark_maps"
            android:theme="@style/Theme.CrimeAlarm.NoActionBar" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CrimeAlarm.NoActionBar" />
        <activity
            android:name=".activities.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CrimeAlarm.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CrimeAlarm.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CrimeAlarm.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCA3-3J7r7reMDZOAMbMmFvzW_rlPVe44g" />

        <activity
            android:name=".activities.MapActivity"
            android:exported="true"
            android:label="@string/title_activity_map" />
        <activity
            android:name=".activities.PlacemarkListActivity"
            android:exported="true" />
        <activity android:name=".activities.PlacemarkActivity" />
    </application>

</manifest>